.middleTitle {
  text-align: center;
  margin: 50px auto 130px;
  font-size: 10rem;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workChild {
  position: relative;
  flex-basis: 45%;
  min-height: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;
  will-change: transform;
  overflow: hidden;
  background: transparent;
}

.workChild img {
    transform: scaleX(1) scaleY(1) scaleZ(1);
    transform-style: preserve-3d;
    transition: transform 400ms, opacity 400ms;
    opacity: 1;
    margin: 0;
    max-width: none;
    width: auto;
    height: 100%;
}

.workChild:hover {
  transform: scaleX(.95) scaleY(.95) translateX(0px) translateY(0px) translateZ(0px);
  background: pink;
}
.workChild:hover .sectionTitle {
  transform: translateX(0px) translateY(0%) translateZ(0px);
}
.workChild:hover img {
    transform: scaleX(1.2) scaleY(1.2) scaleZ(1.2);
    opacity: .5;
}

.section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hidden {
  overflow: hidden;
  text-align: center;
}


.sectionTitle {
  transform: translateX(0px) translateY(200%) translateZ(0px);
  transform-style: preserve-3d;
  transition: transform 400ms;
  margin: 1.3rem auto;
  font-size: 4.5rem;
  color: #fff;
}





/*MEDIA QUERIES*/
@media (min-width: 1200px) {
  .workChild {
    flex-basis: 40%;
  }
}













